body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

.topo {
    display: flex;
    width: 1000px;
    background-color: #133b79;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    color: #ffff;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.topo img{
    width: 125px;
}

.cadastro-topo{
    flex: 4;
}

.documentosnecessarios{
    display: flex;
    margin: auto;
    width: 1000px;
    border-radius: 25px;
    padding: 25px;
    margin-top: 30px;
    background-color: #FFE196;
}

.image-doc{
    flex: 1;
}

.dados-left{
    flex: 2;
}

.dados-right{
    flex: 2;
}